<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- 指定mysql的驱动包的路径 千万别放中文路径下 -->
    <classPathEntry location="/home/ltt/shoucang/Mavenrepository/mysql/mysql-connector-java/8.0.15/mysql-connector-java-8.0.15.jar"/>
    <!-- 配置数据源和生成的代码所存放的位置 -->
    <context id="ttmsTable" targetRuntime="MyBatis3Simple">
        <!--设置生成的Java文件的编码格式-->
        <property name="javaFileEncoding" value="UTF-8"></property>
        <!--格式化java代码-->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"></property>
        <!--格式化xml代码-->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"></property>
        <!--javaBean 实现序列化接口-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>
        <!--javaBean生成toString() 方法-->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <commentGenerator>
            <!--生成代码时，是否生成注释  true：不  false：是-->
            <property name="suppressAllComments" value="true"></property>
        </commentGenerator>
        <!--数据库配置-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/TTMS?nullCatalogMeansCurrent=true"
                        userId="root"
                        password="tian787604"></jdbcConnection>
        <!--
            java类型处理器
              用于处理DB中的类型到Java中的类型，默认使用JavaTypeResolverDefaultImpl；
               注意一点，默认会先尝试使用Integer，Long，Short等来对应DECIMAL和 NUMERIC数据类型；
           -->
        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="forceBigDecimals" value="false"></property>
        </javaTypeResolver>

        <!--生成实体-->
        <javaModelGenerator targetPackage="com.coco.entity" targetProject="/home/ltt/IdeaProjects/TTMS_bs1.0/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaModelGenerator>
        <!--生成mapper文件-->
        <sqlMapGenerator targetPackage="mapper"  targetProject="/home/ltt/IdeaProjects/TTMS_bs1.0/src/main/resources">
            <property name="enableSubPackages" value="true"></property>
        </sqlMapGenerator>
        <!--生成dao接口-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.coco.dao" targetProject="/home/ltt/IdeaProjects/TTMS_bs1.0/src/main/java">
            <property name="enableSubPackages" value="true"></property>
        </javaClientGenerator>
        <!--为哪些表生成代码 tableName=表名字  domainObjectName 生成实体类名字-->
<!--        <table catalog="TTMS" tableName="User" domainObjectName="user" />
        <table catalog="TTMS" tableName="Movie" domainObjectName="Movie" />-->
        <!--<table catalog="TTMS" tableName="Hall" domainObjectName="Hall"/>-->
        <!--<table catalog="TTMS" tableName="Seat" domainObjectName="Seat"/>-->
        <!--<table catalog="TTMS" tableName="Schedule" domainObjectName="Schedule"/>-->
        <!--<table catalog="TTMS" tableName="Ticket" domainObjectName="Ticket"/>-->
        <table catalog="TTMS" tableName="Orders" domainObjectName="Orders"/>
        <!--<table catalog="TTMS" tableName="Salestatistics" domainObjectName="Salestatistics"/>-->
    </context>
</generatorConfiguration>