<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
    <!--1、配置映射器与适配器-->
    <mvc:annotation-driven/>

    <!--2、视图解析器 定义跳转的文件的前后缀，视图模式配置-->
    <bean class ="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<span style="white-space:pre">    </span>前缀和后缀-->
        <!-- controller最后返回的值xx，则页面即是webapp/views/xx.html -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!--自动扫描该包，使springMVC认为包下用了@controller注解的类是控制器-->
    <context:component-scan base-package="com.coco.controller"/>

    <!-- 静态资源可访问的设置方式 -->
    <mvc:default-servlet-handler/>


    <!--避免执行AJAX时候，返回JSON出现下载文件-->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>text/json;charset=UTF-8</value>
                <value>text/*;charset=UTF-8</value>
                <value>text/plain;charset=UTF-8</value>
                <value>*/*;charset=UTF-8</value>
            </list>
        </property>
        <property name="objectMapper">
            <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                <property name="dateFormat">
                    <bean class="java.text.SimpleDateFormat">
                        <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
    <!--启动SpringMvc的注解功能，完成请求和注解POJO的映射-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/><!--json转换器-->
            </list>
        </property>
    </bean>
</beans>