<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.dao.SalestatisticsMapper">
  <resultMap id="BaseResultMap" type="com.coco.entity.Salestatistics">
    <id column="sales_statistics_id" jdbcType="INTEGER" property="salesStatisticsId" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="sale_count" jdbcType="BIGINT" property="saleCount" />
    <result column="sale_money_count" jdbcType="DECIMAL" property="saleMoneyCount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Salestatistics
    where sales_statistics_id = #{salesStatisticsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coco.entity.Salestatistics">
    insert into Salestatistics (sale_count,
      sale_money_count)
    values (#{saleCount,jdbcType=BIGINT},
      #{saleMoneyCount,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coco.entity.Salestatistics">
    update Salestatistics
    set movie_id = #{movieId,jdbcType=INTEGER},
      sale_count = #{saleCount,jdbcType=BIGINT},
      sale_money_count = #{saleMoneyCount,jdbcType=DECIMAL}
    where sales_statistics_id = #{salesStatisticsId,jdbcType=INTEGER}
  </update>

  <update id="updateBymovieId" parameterType="com.coco.entity.Salestatistics">
    update Salestatistics
    set sale_count = #{saleCount,jdbcType=BIGINT},
        sale_money_count = #{saleMoneyCount,jdbcType=DECIMAL}
    where movie_id = #{movieId,jdbcType=INTEGER}
  </update>


  <select id="selectBymovieId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sales_statistics_id, movie_id, sale_count, sale_money_count
    from Salestatistics
    where movie_id = #{movieId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sales_statistics_id, movie_id, sale_count, sale_money_count
    from Salestatistics
  </select>
</mapper>