<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.dao.userMapper">
  <resultMap id="BaseResultMap" type="com.coco.entity.user">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="user_qq" jdbcType="VARCHAR" property="userQq" />
    <result column="user_registertime" jdbcType="VARCHAR" property="userRegistertime"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from User
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coco.entity.user">
    insert into User (user_name, user_password,
     user_qq)
    values (#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userQq,jdbcType=VARCHAR})
  </insert>
  <update id="updatepasswordByQq" parameterType="com.coco.entity.user">
    update User
    set user_password = #{userPassword,jdbcType=VARCHAR}
    where user_qq = #{userQq,jdbcType=VARCHAR}
  </update>

  <update id="updatepassworduserName" parameterType="com.coco.entity.user">
    update User
    set user_password = #{userPassword,jdbcType=VARCHAR}
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>

  <select id="selectByuserQq" parameterType="String" resultMap="BaseResultMap">
    select user_id, user_name, user_password, user_type, user_qq, user_registertime
    from User where user_qq=#{userQq}
  </select>
    <select id="selectByuserName" parameterType="String" resultMap="BaseResultMap">
        select user_id, user_name, user_password, user_type, user_qq, user_registertime
        from User where user_name=#{userName}
    </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, user_password, user_type, user_qq ,user_registertime
    from User
  </select>
</mapper>